/* overall properties selector */

* {
  background-color: #45bb4d;
  /* background-image: linear-gradient(to bottom right, #168f28, #54e49a); */
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}
*body {
  height: 100vh;
}
/* styling the links */
a {
  cursor: pointer;
  color: currentColor;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

  padding: 50px;
}
nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  padding-right: 20px;
}

.logo {
  object-fit: contain;
  width: 100px;
  border-radius: 3333px;
}

/* background image */
/* .wallpaper {
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: url(../images/background.jpeg);
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  position: fixed;
} */
/*display content of main element with flex box */
main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  padding: 25px;
}
.about {
  flex: 0 0 auto;
}

.side {
  flex: 0 0 auto;
}

.picture-image {
  max-width: 250px;
  max-height: 250px;
  height: auto;
  z-index: 99;
  /* position: absolute; */
  right: 40px;
}
